/.gradle/
/.idea/
/de.webtwob.the.base.game.api/build/
/de.webtwob.the.base.game.api/out/
/de.webtwob.the.base.game.base/build/
/de.webtwob.the.base.game.base/out/
/de.webtwob.the.base.game.main/build/
/de.webtwob.the.base.game.main/out/
